@font-face {
  font-family: "Obviously";
  src: url("fonts/Obviously-Narrow.woff") format("woff"),
    url("fonts/Obviously-Narrow.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Obviously";
  src: url("fonts/Obviously-Super.woff") format("woff"),
    url("fonts/Obviously-Super.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Dolph";
  src: url("fonts/Dolph_v02-Regular.woff") format("woff"),
    url("fonts/Dolph_v02-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Dolph";
  src: url("fonts/Dolph_v02-Light-Italic.woff") format("woff"),
    url("fonts/Dolph_v02-Light-Italic.woff2") format("woff2");
  font-style: italic;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #5520ec;
  background: url("background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: crosshair;
}

#page-wrapper {
  min-height: 100%;
  min-width: 100%;
}

h1,
body,
a,
b {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
  box-sizing: border-box;
}

header {
  min-height: 800px;
  max-height: 90vh;
  height: 100vh;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5eee7;
  width: 100%;
  padding: 80px;
}

.footer-content {
  max-width: 1094px;
  width: 100%;
}

.left,
.right {
  display: flex;
  align-items: flex-end;
}

.contain {
  display: flex;
  max-width: 1094px;
  width: 100%;
}

.column {
  flex-direction: column;
}

footer .contain {
  justify-content: space-between;
}

.col {
  max-width: 200px;
  min-width: 160px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

footer .col {
  color: #d4d4d4;
  margin: 20px 0;
}

h1 {
  font-family: "Obviously", "Roboto", sans-serif;
  font-size: 54px;
  line-height: 1;
  color: #ffffff;
}

h1:first-child {
  margin-bottom: 28px;
}

h2,
h3,
h4,
a,
body,
p {
  font-family: "Dolph", "Roboto", sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: -0.06em;
  font-feature-settings: "ss01" on;

  color: #141414;
  max-width: 520px;
}

h2 {
  color: #000000;
  font-style: italic;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

h4 {
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

footer a {
  text-transform: none;
}

b {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #e5e5e5;
  transition: color 0.4s ease;
}

a:hover,
.links a:hover,
.name {
  color: #00d695;
}

a {
  color: #5520ec;
  text-transform: lowercase;
  transition: color 0.2s ease;
}
a:hover,
.links a:hover,
.name {
  color: #fd6e6e;
}

.links,
.links a {
  text-align: right;
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  background: #f5eee7;
}

.main-content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 80px;
  margin-top: -100px;
  border-top-right-radius: 24px;
  background: #fff;
}

.details-content {
  flex: 1 4 50%;
  flex-shrink: 10;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #000;
  padding: 48px;
}

.details-content h3,
.details-content p {
  color: white;
}

.details-content p {
  font-size: 14px;
  line-height: 22px;
}

.details-content a {
  color: #fd6e6e;
  text-decoration: underline;
  text-decoration-color: #5520ec;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 3px;
}

.details-content a:hover {
  color: #5520ec;
}

.content-group {
  width: 100%;
  max-width: 600px;
}

.details-content .content-group {
  width: 100%;
  max-width: 300px;
}

.content-group:not(:first-child) {
  margin-top: 64px;
}

.details-content .content-group:not(:first-child) {
  margin-top: 48px;
}

footer .content-group:not(:first-child) {
  margin-top: 24px;
}

.link:not(:first-child) {
  margin-top: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linkunder {
  margin-bottom: 12px;
}

.deet {
  opacity: 0.6;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  header,
  footer,
  .main-content,
  .details-content {
    padding: 64px 32px;
  }

  a {
    line-height: 2;
  }

  .main-content {
    align-items: flex-start;
  }

  .left,
  .right {
    flex-wrap: wrap;
  }

  .col {
    font-size: 18px;
    line-height: 26px;
    color: white;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
}
