html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #00d695;
  cursor: crosshair;
}

#page-wrapper {
  min-height: 100%;
  min-width: 100%;
}

body, h1, a, b {
  font-family: 'colfax-web', 'Roboto', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

header {
  background: #1C1C1C;
  min-height: 350px;
  max-height: 75vh;
  height: 100vh;
  width: 100%;
}

footer {
  background: black;
  min-height: 160px;
  max-height: 25vh;
  height: 100vh;
  width: 100%;
}

.left,
.right {
  display: flex;
  align-items: flex-end;
}

.contain {
  display: flex;
  max-width: 960px;
  width: 100%;
}

.column{
  flex-direction: column;
}

footer .contain {
  justify-content: space-between;
}

.col {
  max-width: 200px;
  min-width: 160px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

footer .col {
  color: #D4D4D4;
  margin: 20px 0;
}

h1, h2 {
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  max-width: 500px;
  font-weight: normal;
  margin-bottom: 15px;
}

h2 {
  font-size: 18px;
  line-height: 26px;
}

b {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #E5E5E5;
  transition: color 0.4s ease;
}

a:hover,
.links a:hover, .name {
  color: #00d695;
}

.links, .links a {
  text-align: right;
  color: white;
}

@media (max-width: 700px) {
  footer {
    max-height: 100%;
  }

  .left,
  .right {
    flex-wrap: wrap;
  }

  .col {
    font-size: 18px;
    line-height: 26px;
    color: white;
  }
}
